* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #c7c6ab;
}

aside {
  background-color: #ebccb9;
  float: right;
  margin-right: 5mm;
  margin-top: 10mm;
  width: 5cm;
  height: 5cm;
}
.article {
  padding: 50px;
  background-color: #f7e1d8;
  margin-top: 80px;
}
section img {
  width: 250px;
  height: 250px;
  margin-left: 5mm;
  margin-top: 10mm;
  border-radius: 100%;
  border: 10px solid #f9f5f0;
}

section h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  margin-top: 1mm;
  font-size: 50px;
}
article h1 {
  text-align: center;
}

main h1 {
  margin-left: 16cm;
  margin-top: 2mm;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
  color: black;
  margin-left: 10cm;
  margin-top: 100px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
  color: black;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  margin-left: 5mm;
}

video {
  border: 10px solid #f9f5f0;
}

main img {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: 25px;
}
